.container {
	max-width: vw(1600);
	margin: 0 auto;
}
span {
	display: inline-block;
}
a {
	display: inline-block;
	text-decoration: none;
}
li {
	list-style-type: none;
}
img {
	max-width: 100%;
}
button {
	outline: none;
	border: none;
	background-color: #fff;
	cursor: pointer;
}
