.hero {
	position: relative;
	background: linear-gradient($red, $darkRed);
	background-color: $red;
	min-height: 100vh;
	overflow: hidden;
	&__rings {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 0.5;
		z-index: -1;
	}
	&__row {
		display: flex;
	}
	&__content {
		padding-top: vw(150);
		width: 50%;
	}
	&__title {
		font: vw(80) "Londrina Solid", cursive;
		font-weight: 900;
		letter-spacing: vw(3);
		line-height: 1em;
		color: $yellow;
		margin-bottom: vw(30);
		text-shadow: vw(3) vw(3) 0 $black;
		position: relative;
		overflow: hidden;
		height: vw(150);
	}
	&__subtitle {
		font: vw(32) "Londrina Solid", cursive;
		font-weight: 900;
		letter-spacing: vw(1);
		color: $white;
		margin-bottom: vw(20);
		text-transform: uppercase;
		text-shadow: vw(2) vw(2) 0 $black;
		-webkit-text-stroke: vw(2) $black;
		position: relative;
		overflow: hidden;
		max-height: vw(150);
	}
	&__description {
		width: 80%;
		font-family: "Barlow Condensed", sans-serif;
		font-size: vw(20);
		font-weight: 400;
		color: $white;
		position: relative;
		overflow: hidden;
		max-height: vw(200);
		strong {
			display: block;
			margin-top: vw(10);
			font-size: vw(22);
			letter-spacing: vw(1);
		}
	}
	&__price {
		font: vw(48) "Londrina Solid", cursive;
		font-weight: 900;
		margin: vw(35) 0;
		color: $white;
		text-transform: uppercase;
		text-shadow: vw(2) vw(2) 0 $black;
		-webkit-text-stroke: vw(2) $black;
		position: relative;
		overflow: hidden;
		max-height: vw(60);
	}
	&__btn {
		position: relative;
		padding: vw(16) vw(48);
		border: vw(3) solid $yellow;
		background-color: $yellow;
		color: $black;
		box-sizing: border-box;
		font: vw(20) "Londrina Solid", cursive;
		font-weight: 500;
		letter-spacing: vw(1);
		transition: all 250ms ease-in-out;
		border-radius: vw(15);
		&:hover {
			background-color: $black;
			color: $yellow;
			border: vw(3) solid $black;
		}
	}
}

.chipses {
	position: relative;
	&__doritos {
		position: absolute;
		top: vw(150);
		left: 0;
		max-width: vw(775);
		z-index: 1;
	}
	&__backdrop {
		position: absolute;
		top: vw(400);
		right: vw(60);
		width: vw(640);
		height: vw(775);
		background-color: $yellow;
		border-radius: vw(30);
		transform: skew(-5deg,-5deg);
	}
	&__details {
		position: relative;
		img {
			position: absolute;
		}
	}
	&__chips {
		right: vw(-50);
		top: vw(-80);
		height: vw(340);
		transform: rotate(10deg);
		z-index: 1;
	}
	&__ketchup {
		left: vw(-40);
		top: vw(550);
		height: vw(160);
		z-index: 1;
	}
	&__suyaPepper {
		right: vw(-60);
		top: vw(500);
		height: vw(320);
		z-index: 0;
	}
}
